In [77]:

import numpy as np
import pandas as pd
import cufflinks as cf
import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
import re

#gm = googlemaps.Client(api_key="AIzaSyCq4L7UwDx8npjQlJIOZW912OytCvhvFhU")

tls.set_credentials_file(username='kartiktennis', api_key='kmUfak4H62LCSXhmQgdh') #allows plotly integration


data_sfpd = pd.read_csv("sfpd_dispatch_data_subset.csv") #import entire sfpd csv data file

,call_number,unit_id,incident_number,call_type,call_date,watch_date,received_timestamp,entry_timestamp,dispatch_timestamp,response_timestamp,...,number_of_alarms,unit_type,unit_sequence_in_call_dispatch,fire_prevention_district,supervisor_district,neighborhood_district,location,row_id,latitude,longitude
0,180243072,84,18010216,Medical Incident,1/24/2018,1/24/2018,2018-01-24 17:36:16.000000 UTC,2018-01-24 17:38:21.000000 UTC,2018-01-24 17:39:41.000000 UTC,2018-01-24 17:39:45.000000 UTC,...,1,MEDIC,1,7,1,NaN,"(37.77444199483868, -122.5046792231959)",180243072-84,37.774442,-122.504679
1,180240538,61,18010011,Medical Incident,1/24/2018,1/23/2018,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:05.000000 UTC,2018-01-24 07:05:31.000000 UTC,2018-01-24 07:05:45.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.774094856688166, -122.42000143696421)",180240538-61,37.774095,-122.420001
2,180240176,E22,18009959,Medical Incident,1/24/2018,1/23/2018,2018-01-24 02:04:21.000000 UTC,2018-01-24 02:05:37.000000 UTC,2018-01-24 02:06:04.000000 UTC,2018-01-24 02:07:26.000000 UTC,...,1,ENGINE,1,8,7,NaN,"(37.75521795168784, -122.47554039050351)",180240176-E22,37.755218,-122.475540
3,180243588,E03,18010271,Alarms,1/24/2018,1/24/2018,2018-01-24 20:04:15.000000 UTC,2018-01-24 20:05:12.000000 UTC,2018-01-24 20:05:24.000000 UTC,2018-01-24 20:05:36.000000 UTC,...,1,ENGINE,1,4,2,NaN,"(37.79031930341935, -122.4231629067995)",180243588-E03,37.790319,-122.423163
4,180243590,B03,18010272,Alarms,1/24/2018,1/24/2018,2018-01-24 20:03:08.000000 UTC,2018-01-24 20:05:36.000000 UTC,2018-01-24 20:05:57.000000 UTC,2018-01-24 20:06:56.000000 UTC,...,1,CHIEF,3,3,6,NaN,"(37.77732776352611, -122.39308855968541)",180243590-B03,37.777328,-122.393089
5,180243782,E07,18010292,Alarms,1/24/2018,1/24/2018,2018-01-24 21:18:56.000000 UTC,2018-01-24 21:20:21.000000 UTC,2018-01-24 21:21:18.000000 UTC,2018-01-24 21:22:36.000000 UTC,...,1,ENGINE,1,6,8,NaN,"(37.756890170572206, -122.42222930549926)",180243782-E07,37.756890,-122.422229
6,180241852,E03,18010114,Structure Fire,1/24/2018,1/24/2018,2018-01-24 12:24:27.000000 UTC,2018-01-24 12:25:27.000000 UTC,2018-01-24 12:26:56.000000 UTC,2018-01-24 12:26:56.000000 UTC,...,1,ENGINE,8,2,6,NaN,"(37.783359002692066, -122.41669494404806)",180241852-E03,37.783359,-122.416695
7,180243546,66,18010265,Traffic Collision,1/24/2018,1/24/2018,2018-01-24 19:51:29.000000 UTC,2018-01-24 19:53:19.000000 UTC,2018-01-24 19:53:41.000000 UTC,2018-01-24 19:53:50.000000 UTC,...,1,MEDIC,2,2,6,NaN,"(37.76924401107554, -122.40800720584919)",180243546-66,37.769244,-122.408007
8,180243952,E28,18010317,Alarms,1/24/2018,1/24/2018,2018-01-24 22:26:22.000000 UTC,2018-01-24 22:27:06.000000 UTC,2018-01-24 22:27:47.000000 UTC,2018-01-24 22:28:33.000000 UTC,...,1,ENGINE,1,1,3,NaN,"(37.80711992362169, -122.41642787206773)",180243952-E28,37.807120,-122.416428
9,180241350,58,18010067,Medical Incident,1/24/2018,1/24/2018,2018-01-24 10:35:00.000000 UTC,2018-01-24 10:36:55.000000 UTC,2018-01-24 10:37:06.000000 UTC,2018-01-24 10:37:09.000000 UTC,...,1,MEDIC,1,9,10,NaN,"(37.71214950882262, -122.41714122572772)",180241350-58,37.712150,-122.417141
10,180241957,53,18010125,Medical Incident,1/24/2018,1/24/2018,2018-01-24 12:53:39.000000 UTC,2018-01-24 12:53:39.000000 UTC,2018-01-24 12:55:17.000000 UTC,2018-01-24 12:55:28.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.77883231587925, -122.41564248785478)",180241957-53,37.778832,-122.415643
11,180242429,62,18010155,Medical Incident,1/24/2018,1/24/2018,2018-01-24 14:36:16.000000 UTC,2018-01-24 14:38:23.000000 UTC,2018-01-24 14:45:58.000000 UTC,2018-01-24 14:47:14.000000 UTC,...,1,MEDIC,1,1,3,NaN,"(37.79709205269086, -122.39833314918091)",180242429-62,37.797092,-122.398333
12,180243142,E11,18010223,Medical Incident,1/24/2018,1/24/2018,2018-01-24 17:56:16.000000 UTC,2018-01-24 17:58:32.000000 UTC,2018-01-24 17:59:52.000000 UTC,2018-01-24 18:00:50.000000 UTC,...,1,ENGINE,1,6,8,NaN,"(37.756096396025626, -122.42778335985659)",180243142-E11,37.756096,-122.427783
13,180242903,KM06,18010201,Medical Incident,1/24/2018,1/24/2018,2018-01-24 16:48:13.000000 UTC,2018-01-24 16:51:25.000000 UTC,2018-01-24 16:51:46.000000 UTC,2018-01-24 16:52:30.000000 UTC,...,1,PRIVATE,2,3,6,NaN,"(37.78079208027532, -122.40838574549893)",180242903-KM06,37.780792,-122.408386
14,180243517,85,18010262,Medical Incident,1/24/2018,1/24/2018,2018-01-24 19:41:44.000000 UTC,2018-01-24 19:44:22.000000 UTC,2018-01-24 19:45:15.000000 UTC,2018-01-24 19:45:21.000000 UTC,...,1,MEDIC,2,6,9,NaN,"(37.75223945497915, -122.41844527285122)",180243517-85,37.752239,-122.418445
15,180240052,RS1,18009942,Structure Fire,1/24/2018,1/23/2018,2018-01-24 00:19:30.000000 UTC,2018-01-24 00:34:51.000000 UTC,2018-01-24 00:35:09.000000 UTC,2018-01-24 00:36:32.000000 UTC,...,1,RESCUE SQUAD,6,2,6,NaN,"(37.78521736163072, -122.41706961139498)",180240052-RS1,37.785217,-122.417070
16,180241776,E03,18010110,Medical Incident,1/24/2018,1/24/2018,2018-01-24 12:08:29.000000 UTC,2018-01-24 12:10:03.000000 UTC,2018-01-24 12:10:43.000000 UTC,2018-01-24 12:11:43.000000 UTC,...,1,ENGINE,1,2,6,NaN,"(37.77952317116152, -122.41263929179321)",180241776-E03,37.779523,-122.412639
17,180242487,E20,18010161,Medical Incident,1/24/2018,1/24/2018,2018-01-24 14:54:21.000000 UTC,2018-01-24 14:57:25.000000 UTC,2018-01-24 15:01:11.000000 UTC,2018-01-24 15:02:25.000000 UTC,...,1,ENGINE,1,8,7,NaN,"(37.74817254773626, -122.45869503396155)",180242487-E20,37.748173,-122.458695
18,180243850,72,18010301,Medical Incident,1/24/2018,1/24/2018,2018-01-24 21:42:22.000000 UTC,2018-01-24 21:46:48.000000 UTC,2018-01-24 21:47:16.000000 UTC,2018-01-24 21:47:21.000000 UTC,...,1,MEDIC,1,5,5,NaN,"(37.770054661455546, -122.44612843129843)",180243850-72,37.770055,-122.446128
19,180241852,T01,18010114,Structure Fire,1/24/2018,1/24/2018,2018-01-24 12:24:27.000000 UTC,2018-01-24 12:25:27.000000 UTC,2018-01-24 12:25:47.000000 UTC,2018-01-24 12:25:53.000000 UTC,...,1,TRUCK,10,2,6,NaN,"(37.783359002692066, -122.41669494404806)",180241852-T01,37.783359,-122.416695
20,180242322,64,18010144,Medical Incident,1/24/2018,1/24/2018,2018-01-24 14:10:45.000000 UTC,2018-01-24 14:11:48.000000 UTC,2018-01-24 14:12:10.000000 UTC,2018-01-24 14:12:16.000000 UTC,...,1,MEDIC,2,2,6,NaN,"(37.77779030942458, -122.41283433212864)",180242322-64,37.777790,-122.412834
21,180241372,E01,18010072,Medical Incident,1/24/2018,1/24/2018,2018-01-24 10:40:14.000000 UTC,2018-01-24 10:41:06.000000 UTC,2018-01-24 10:41:22.000000 UTC,2018-01-24 10:42:30.000000 UTC,...,1,ENGINE,1,3,6,NaN,"(37.78066916324976, -122.40167804559798)",180241372-E01,37.780669,-122.401678
22,180241696,E21,18010100,Medical Incident,1/24/2018,1/24/2018,2018-01-24 11:52:30.000000 UTC,2018-01-24 11:52:43.000000 UTC,2018-01-24 11:52:59.000000 UTC,2018-01-24 11:54:59.000000 UTC,...,1,ENGINE,1,5,5,NaN,"(37.774092678704704, -122.44108442596955)",180241696-E21,37.774093,-122.441084
23,180242478,E28,18010160,Medical Incident,1/24/2018,1/24/2018,2018-01-24 14:51:27.000000 UTC,2018-01-24 14:54:11.000000 UTC,2018-01-24 15:01:45.000000 UTC,2018-01-24 15:02:44.000000 UTC,...,1,ENGINE,1,1,3,NaN,"(37.80282769816514, -122.41303433677871)",180242478-E28,37.802828,-122.413034
24,180240880,79,18010040,Medical Incident,1/24/2018,1/24/2018,2018-01-24 08:50:47.000000 UTC,2018-01-24 08:52:11.000000 UTC,2018-01-24 08:52:29.000000 UTC,2018-01-24 08:52:36.000000 UTC,...,1,MEDIC,1,1,6,NaN,"(37.78626844171618, -122.41299723589641)",180240880-79,37.786268,-122.412997
25,180242627,52,18010178,Medical Incident,1/24/2018,1/24/2018,2018-01-24 15:31:54.000000 UTC,2018-01-24 15:32:57.000000 UTC,2018-01-24 15:33:39.000000 UTC,2018-01-24 15:34:32.000000 UTC,...,1,MEDIC,2,5,5,NaN,"(37.770273091358646, -122.4486050480563)",180242627-52,37.770273,-122.448605
26,180242103,52,18010133,Medical Incident,1/24/2018,1/24/2018,2018-01-24 13:19:28.000000 UTC,2018-01-24 13:21:23.000000 UTC,2018-01-24 13:22:11.000000 UTC,2018-01-24 13:22:20.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.78191397441793, -122.41303219395635)",180242103-52,37.781914,-122.413032
27,180243393,71,18010251,Other,1/24/2018,1/24/2018,2018-01-24 19:07:16.000000 UTC,2018-01-24 19:07:16.000000 UTC,2018-01-24 21:45:14.000000 UTC,2018-01-24 21:45:14.000000 UTC,...,1,MEDIC,2,9,9,NaN,"(37.72229807127346, -122.41130309997389)",180243393-71,37.722298,-122.411303
28,180240248,94,18009965,Medical Incident,1/24/2018,1/23/2018,2018-01-24 03:14:26.000000 UTC,2018-01-24 03:16:33.000000 UTC,2018-01-24 03:16:45.000000 UTC,2018-01-24 03:17:12.000000 UTC,...,1,MEDIC,1,6,9,NaN,"(37.75962769270459, -122.41592301840338)",180240248-94,37.759628,-122.415923
29,180241729,E36,18010106,Medical Incident,1/24/2018,1/24/2018,2018-01-24 11:59:40.000000 UTC,2018-01-24 12:00:40.000000 UTC,2018-01-24 12:01:55.000000 UTC,2018-01-24 12:01:55.000000 UTC,...,1,ENGINE,1,2,6,NaN,"(37.78186544733037, -122.41428534642068)",180241729-E36,37.781865,-122.414285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,180132359,E05,18005688,Medical Incident,1/13/2018,1/13/2018,2018-01-13 15:51:50.000000 UTC,2018-01-13 15:52:14.000000 UTC,2018-01-13 15:52:34.000000 UTC,2018-01-13 15:53:24.000000 UTC,...,1,ENGINE,2,5,8,NaN,"(37.76177683437902, -122.43515167277485)",180132359-E05,37.761777,-122.435152
9971,180130474,E40,18005495,Medical Incident,1/13/2018,1/12/2018,2018-01-13 04:07:51.000000 UTC,2018-01-13 04:07:51.000000 UTC,2018-01-13 04:08:19.000000 UTC,2018-01-13 04:09:43.000000 UTC,...,1,ENGINE,1,8,4,NaN,"(37.74201996298055, -122.47783880287392)",180130474-E40,37.742020,-122.477839
9972,180131955,53,18005645,Traffic Collision,1/13/2018,1/13/2018,2018-01-13 13:57:05.000000 UTC,2018-01-13 14:00:06.000000 UTC,2018-01-13 14:13:58.000000 UTC,2018-01-13 14:13:58.000000 UTC,...,1,MEDIC,3,10,9,NaN,"(37.731819888971835, -122.40541209173365)",180131955-53,37.731820,-122.405412
9973,180133046,T03,18005746,Medical Incident,1/13/2018,1/13/2018,2018-01-13 18:34:20.000000 UTC,2018-01-13 18:36:16.000000 UTC,2018-01-13 18:37:45.000000 UTC,2018-01-13 18:40:06.000000 UTC,...,1,TRUCK,3,2,6,NaN,"(37.78244403834035, -122.42057454560377)",180133046-T03,37.782444,-122.420575
9974,180130990,RC4,18005555,Medical Incident,1/13/2018,1/13/2018,2018-01-13 09:24:39.000000 UTC,2018-01-13 09:25:14.000000 UTC,2018-01-13 09:27:07.000000 UTC,2018-01-13 09:27:07.000000 UTC,...,1,RESCUE CAPTAIN,1,9,11,NaN,"(37.720457745745186, -122.43703098791046)",180130990-RC4,37.720458,-122.437031
9975,180131726,AM106,18005622,Medical Incident,1/13/2018,1/13/2018,2018-01-13 13:03:23.000000 UTC,2018-01-13 13:04:34.000000 UTC,2018-01-13 13:05:17.000000 UTC,2018-01-13 13:06:12.000000 UTC,...,1,PRIVATE,2,3,6,NaN,"(37.783310406701474, -122.3883798739193)",180131726-AM106,37.783310,-122.388380
9976,180131196,E08,18005577,Medical Incident,1/13/2018,1/13/2018,2018-01-13 10:28:41.000000 UTC,2018-01-13 10:30:14.000000 UTC,2018-01-13 10:30:30.000000 UTC,2018-01-13 10:32:13.000000 UTC,...,1,ENGINE,1,3,6,NaN,"(37.7748701729732, -122.39441707175159)",180131196-E08,37.774870,-122.394417
9977,180130840,KM08,18005547,Medical Incident,1/13/2018,1/13/2018,2018-01-13 08:28:10.000000 UTC,2018-01-13 08:29:45.000000 UTC,2018-01-13 08:29:58.000000 UTC,2018-01-13 08:30:25.000000 UTC,...,1,PRIVATE,1,1,3,NaN,"(37.80480917127099, -122.4067955298258)",180130840-KM08,37.804809,-122.406796
9978,180131435,E17,18005600,Medical Incident,1/13/2018,1/13/2018,2018-01-13 11:37:39.000000 UTC,2018-01-13 11:38:15.000000 UTC,2018-01-13 11:39:17.000000 UTC,2018-01-13 11:40:33.000000 UTC,...,1,ENGINE,1,10,10,NaN,"(37.71986847521028, -122.39090480126804)",180131435-E17,37.719868,-122.390905
9979,180133469,E21,18005793,Medical Incident,1/13/2018,1/13/2018,2018-01-13 20:33:54.000000 UTC,2018-01-13 20:34:44.000000 UTC,2018-01-13 20:35:08.000000 UTC,2018-01-13 20:36:18.000000 UTC,...,1,ENGINE,1,5,5,NaN,"(37.78116830793363, -122.43480568645582)",180133469-E21,37.781168,-122.434806
9980,180130642,E36,18005530,Structure Fire,1/13/2018,1/12/2018,2018-01-13 06:45:11.000000 UTC,2018-01-13 06:47:35.000000 UTC,2018-01-13 06:47:48.000000 UTC,2018-01-13 06:49:05.000000 UTC,...,1,ENGINE,3,2,9,NaN,"(37.76613438751412, -122.4219350771774)",180130642-E36,37.766134,-122.421935
9981,180133046,65,18005746,Medical Incident,1/13/2018,1/13/2018,2018-01-13 18:34:20.000000 UTC,2018-01-13 18:36:16.000000 UTC,2018-01-13 18:37:45.000000 UTC,2018-01-13 18:40:39.000000 UTC,...,1,MEDIC,2,2,6,NaN,"(37.78244403834035, -122.42057454560377)",180133046-65,37.782444,-122.420575
9982,180130372,AM118,18005479,Traffic Collision,1/13/2018,1/12/2018,2018-01-13 02:52:48.000000 UTC,2018-01-13 02:56:15.000000 UTC,2018-01-13 02:57:03.000000 UTC,2018-01-13 02:58:02.000000 UTC,...,1,PRIVATE,1,None,6,NaN,"(37.810520722520614, -122.36513827228869)",180130372-AM118,37.810521,-122.365138
9983,180131982,KM01,18005647,Medical Incident,1/13/2018,1/13/2018,2018-01-13 14:07:21.000000 UTC,2018-01-13 14:07:21.000000 UTC,2018-01-13 14:07:46.000000 UTC,2018-01-13 14:08:18.000000 UTC,...,1,PRIVATE,2,4,2,NaN,"(37.797298027689145, -122.43384673464273)",180131982-KM01,37.797298,-122.433847
9984,180133500,73,18005798,Medical Incident,1/13/2018,1/13/2018,2018-01-13 20:46:37.000000 UTC,2018-01-13 20:46:37.000000 UTC,2018-01-13 20:47:10.000000 UTC,2018-01-13 20:47:18.000000 UTC,...,1,MEDIC,1,2,6,NaN,"(37.77609673484532, -122.4085642977398)",180133500-73,37.776097,-122.408564
9985,180133012,RC3,18005736,Medical Incident,1/13/2018,1/13/2018,2018-01-13 18:29:44.000000 UTC,2018-01-13 18:31:35.000000 UTC,2018-01-13 18:34:37.000000 UTC,2018-01-13 18:34:37.000000 UTC,...,1,RESCUE CAPTAIN,2,10,10,NaN,"(37.7501183410943, -122.39043303882671)",180133012-RC3,37.750118,-122.390433
9986,180132009,E06,18005652,Medical Incident,1/13/2018,1/13/2018,2018-01-13 14:14:17.000000 UTC,2018-01-13 14:15:19.000000 UTC,2018-01-13 14:17:00.000000 UTC,2018-01-13 14:18:06.000000 UTC,...,1,ENGINE,3,6,8,NaN,"(37.76063768316806, -122.42584369698614)",180132009-E06,37.760638,-122.425844
9987,180130712,E31,18005537,Medical Incident,1/13/2018,1/12/2018,2018-01-13 07:28:39.000000 UTC,2018-01-13 07:29:26.000000 UTC,2018-01-13 07:29:51.000000 UTC,2018-01-13 07:30:29.000000 UTC,...,1,ENGINE,2,7,1,NaN,"(37.77995613136864, -122.4664265905931)",180130712-E31,37.779956,-122.466427
9988,180131651,95,18005616,Medical Incident,1/13/2018,1/13/2018,2018-01-13 12:41:29.000000 UTC,2018-01-13 12:41:29.000000 UTC,2018-01-13 12:41:41.000000 UTC,2018-01-13 12:41:59.000000 UTC,...,1,MEDIC,1,5,5,NaN,"(37.76815416294501, -122.45431162017093)",180131651-95,37.768154,-122.454312
9989,180131331,60,18005589,Medical Incident,1/13/2018,1/13/2018,2018-01-13 11:09:14.000000 UTC,2018-01-13 11:10:03.000000 UTC,2018-01-13 11:10:26.000000 UTC,2018-01-13 11:10:44.000000 UTC,...,1,MEDIC,2,1,3,NaN,"(37.791834627188145, -122.41081753529559)",180131331-60,37.791835,-122.410818
9990,180130697,E06,18005536,Other,1/13/2018,1/12/2018,2018-01-13 07:21:40.000000 UTC,2018-01-13 07:21:40.000000 UTC,2018-01-13 07:21:40.000000 UTC,2018-01-13 07:21:40.000000 UTC,...,1,ENGINE,1,5,8,NaN,"(37.767191551371724, -122.43122179729654)",180130697-E06,37.767192,-122.431222
9991,180130354,70,18005475,Medical Incident,1/13/2018,1/12/2018,2018-01-13 02:44:30.000000 UTC,2018-01-13 02:46:08.000000 UTC,2018-01-13 02:47:17.000000 UTC,2018-01-13 02:47:23.000000 UTC,...,1,MEDIC,1,2,5,NaN,"(37.77588508583154, -122.43036534649241)",180130354-70,37.775885,-122.430365
9992,180134026,E01,18005845,Traffic Collision,1/13/2018,1/13/2018,2018-01-13 23:39:49.000000 UTC,2018-01-13 23:39:49.000000 UTC,2018-01-13 23:39:49.000000 UTC,2018-01-13 23:39:49.000000 UTC,...,1,ENGINE,1,2,6,NaN,"(37.77128552595309, -122.41320426710206)",180134026-E01,37.771286,-122.413204
9993,180132041,58,18005657,Medical Incident,1/13/2018,1/13/2018,2018-01-13 14:23:06.000000 UTC,2018-01-13 14:23:59.000000 UTC,2018-01-13 14:24:23.000000 UTC,2018-01-13 14:24:30.000000 UTC,...,1,MEDIC,1,2,8,NaN,"(37.761513913312704, -122.42555596887412)",180132041-58,37.761514,-122.425556
9994,180133993,E18,18005843,Medical Incident,1/13/2018,1/13/2018,2018-01-13 23:26:46.000000 UTC,2018-01-13 23:27:44.000000 UTC,2018-01-13 23:28:24.000000 UTC,2018-01-13 23:30:17.000000 UTC,...,1,ENGINE,1,8,4,NaN,"(37.74910205932908, -122.48692720556181)",180133993-E18,37.749102,-122.486927
9995,180130129,E07,18005442,Medical Incident,1/13/2018,1/12/2018,2018-01-13 00:48:33.000000 UTC,2018-01-13 00:48:33.000000 UTC,2018-01-13 00:49:23.000000 UTC,2018-01-13 00:49:42.000000 UTC,...,1,ENGINE,2,6,9,NaN,"(37.75796959799367, -122.41672705336742)",180130129-E07,37.757970,-122.416727
9996,180130999,E38,18005556,Medical Incident,1/13/2018,1/13/2018,2018-01-13 09:26:55.000000 UTC,2018-01-13 09:27:33.000000 UTC,2018-01-13 09:27:50.000000 UTC,2018-01-13 09:29:36.000000 UTC,...,1,ENGINE,1,4,5,NaN,"(37.78708178866631, -122.4258678201407)",180130999-E38,37.787082,-122.425868
9997,180131985,E03,18005648,Medical Incident,1/13/2018,1/13/2018,2018-01-13 14:09:05.000000 UTC,2018-01-13 14:10:04.000000 UTC,2018-01-13 14:12:37.000000 UTC,2018-01-13 14:14:08.000000 UTC,...,1,ENGINE,3,3,6,NaN,"(37.784205674933816, -122.40761273180911)",180131985-E03,37.784206,-122.407613
9998,180132432,RWC2,18005695,Water Rescue,1/13/2018,1/13/2018,2018-01-13 16:12:05.000000 UTC,2018-01-13 16:14:19.000000 UTC,2018-01-13 16:14:57.000000 UTC,2018-01-13 16:16:14.000000 UTC,...,1,SUPPORT,9,4,2,NaN,"(37.80516256556238, -122.43295744051808)",180132432-RWC2,37.805163,-122.432957
9999,180131803,82,18005629,Medical Incident,1/13/2018,1/13/2018,2018-01-13 13:17:25.000000 UTC,2018-01-13 13:20:29.000000 UTC,2018-01-13 13:20:47.000000 UTC,2018-01-13 13:21:07.000000 UTC,...,1,MEDIC,2,2,6,NaN,"(37.78558247360873, -122.41461720883616)",180131803-82,37.785582,-122.414617

In [31]:
#data_sfpd.call_type.unique()

In [41]:
call_type_occurences = data_sfpd["call_type"].value_counts() #gets number of unique occurences of each type of incident

Medical Incident                   6791
Alarms                             1061
Structure Fire                     1029
Traffic Collision                   410
Outside Fire                        144
Other                               129
Citizen Assist / Service Call       114
Gas Leak (Natural and LP Gases)      86
Train / Rail Incident                55
Water Rescue                         54
Vehicle Fire                         45
Elevator / Escalator Rescue          23
Electrical Hazard                    21
Smoke Investigation (Outside)        15
Odor (Strange / Unknown)             10
Fuel Spill                           10
HazMat                                3
Name: call_type, dtype: int64

In [45]:
occurences_data = pd.read_csv("number_occurences.csv") #placed values from call_type_occurences into new csv file "number_occurences.data"

                          call_type  number_occurences
0                  Medical Incident               6791
1                            Alarms               1061
2                    Structure Fire               1029
3                 Traffic Collision                410
4                      Outside Fire                144
5                             Other                129
6     Citizen Assist / Service Call                114
7   Gas Leak (Natural and LP Gases)                 86
8             Train / Rail Incident                 55
9                      Water Rescue                 54
10                     Vehicle Fire                 45
11      Elevator / Escalator Rescue                 23
12                Electrical Hazard                 21
13    Smoke Investigation (Outside)                 15
14         Odor (Strange / Unknown)                 10
15                       Fuel Spill                 10
16                           Hazmat                  3

In [62]:
trace1 = go.Bar(
    x=occurences_data['call_type'],#x-axis
    y=occurences_data['number_occurences']#y-axis
)
data = [trace1] 
layout= go.Layout(
    barmode='bar',#bar graph
    showlegend=True
)
fig = go.Figure(data=data, layout=layout)#creates figure object
py.iplot(fig, filename="Number of Occurences vs Call Type")#generates graph

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~kartiktennis/0 or inside your plot.ly account where it is named 'Number of Occurences vs Call Type'

In [74]:
incident_coordinates_with_type = pd.read_csv('location_coordinates.csv') #store coordinate data
coordinates_only = incident_coordinates_with_type['coordinates'] #gets data set of coordinates only

0       37.77444199 -122.5046792
1       37.77409486 -122.4200014
2       37.75521795 -122.4755404
3        37.7903193 -122.4231629
4       37.77732776 -122.3930886
5       37.75689017 -122.4222293
6         37.783359 -122.4166949
7       37.76924401 -122.4080072
8       37.80711992 -122.4164279
9       37.71214951 -122.4171412
10      37.77883232 -122.4156425
11      37.79709205 -122.3983331
12       37.7560964 -122.4277834
13      37.78079208 -122.4083857
14      37.75223946 -122.4184453
15      37.78521736 -122.4170696
16      37.77952317 -122.4126393
17       37.74817255 -122.458695
18      37.77005466 -122.4461284
19        37.783359 -122.4166949
20      37.77779031 -122.4128343
21       37.78066916 -122.401678
22      37.77409268 -122.4410844
23       37.8028277 -122.4130343
24      37.78626844 -122.4129972
25       37.77027309 -122.448605
26      37.78191397 -122.4130322
27      37.72229807 -122.4113031
28       37.75962769 -122.415923
29      37.78186545 -122.4142853
                  ...
9970    37.76177683 -122.4351517
9971    37.74201996 -122.4778388
9972    37.73181989 -122.4054121
9973    37.78244404 -122.4205745
9974     37.72045775 -122.437031
9975    37.78331041 -122.3883799
9976    37.77487017 -122.3944171
9977    37.80480917 -122.4067955
9978    37.71986848 -122.3909048
9979    37.78116831 -122.4348057
9980    37.76613439 -122.4219351
9981    37.78244404 -122.4205745
9982    37.81052072 -122.3651383
9983    37.79729803 -122.4338467
9984    37.77609673 -122.4085643
9985     37.75011834 -122.390433
9986    37.76063768 -122.4258437
9987    37.77995613 -122.4664266
9988    37.76815416 -122.4543116
9989    37.79183463 -122.4108175
9990    37.76719155 -122.4312218
9991    37.77588509 -122.4303653
9992    37.77128553 -122.4132043
9993     37.76151391 -122.425556
9994    37.74910206 -122.4869272
9995     37.7579696 -122.4167271
9996    37.78708179 -122.4258678
9997    37.78420567 -122.4076127
9998    37.80516257 -122.4329574
9999    37.78558247 -122.4146172
Name: coordinates, Length: 10000, dtype: object

In [149]:
from datetime import datetime,timedelta #used to convert to datetime objects to subtract timestamps
dispatch_times = pd.read_csv('dispatch_times.csv')
 
def createTimeDelta(x):
    time = datetime.strptime(x,' %H:%M:%S')
    return timedelta(hours=time.hour,minutes=time.minute,seconds=time.second);

#adds column for dispatch time by finding difference between received and dispatch timestamps

dispatch_times['disptach_timestamp'] = dispatch_times['disptach_timestamp'].apply(createTimeDelta); #creates timedelta objects from timestamp
dispatch_times['received_timestamp'] = dispatch_times['received_timestamp'].apply(createTimeDelta); #creates timedelta objects from timestamp

dispatch_times['dispatch_time']  = dispatch_times['disptach_timestamp'] - dispatch_times['received_timestamp'] #substracts timestamps

dispatch_times.to_csv("dispatch_times_cleansed.csv") #put into new csv file for clarity ("dispatch time cleansed")

In [158]:
data_sfpd.call_type.unique()
print(len(data_sfpd.call_type.unique()))

print(data_sfpd.call_type.unique())
#get tiime sum for all types of incidents
medicalIncidentSum = timedelta(hours = 0,minutes = 0, seconds=0)
AlarmsSum = timedelta(hours = 0,minutes = 0, seconds=0)
StructureFiresSum = timedelta(hours = 0,minutes = 0, seconds=0)
TrafficCollisionSum = timedelta(hours = 0,minutes = 0, seconds=0)
OtherSum = timedelta(hours = 0,minutes = 0, seconds=0)
GasSum = timedelta(hours = 0,minutes = 0, seconds=0)
OutsideSum = timedelta(hours = 0,minutes = 0, seconds=0)
ElectricalSum = timedelta(hours = 0,minutes = 0, seconds=0)
VehicleSum = timedelta(hours = 0,minutes = 0, seconds=0)
CitizenSum = timedelta(hours = 0,minutes = 0, seconds=0)
FuelSum = timedelta(hours = 0,minutes = 0, seconds=0)
SmokeSum = timedelta(hours = 0,minutes = 0, seconds=0)
ElevatorSum = timedelta(hours = 0,minutes = 0, seconds=0)
OdorSum = timedelta(hours = 0,minutes = 0, seconds=0)
WaterSum = timedelta(hours = 0,minutes = 0, seconds=0)
RescueSum = timedelta(hours = 0,minutes = 0, seconds=0)
TrainSum = timedelta(hours = 0,minutes = 0, seconds=0)
HazMatSum = timedelta(hours = 0,minutes = 0, seconds=0)


for index,row in dispatch_times.iterrows(): 
    if row['call_type'] == "Medical Incident":
        medicalIncidentSum+=row['dispatch_time']
    if row['call_type'] == "Alarms":
        AlarmsSum+=row['dispatch_time']
    if row['call_type'] == "Structure Fire":
        StructureFiresSum+=row['dispatch_time']
    if row['call_type'] == "Traffic Collision":
        TrafficCollisionSum+=row['dispatch_time']
    if row['call_type'] == "Other":
        OtherSum+=row['dispatch_time']
    if row['call_type'] == "Gas Leak (Natural and LP Gases)":
        GasSum+=row['dispatch_time']
    if row['call_type'] == "Outside Fire":
        OutsideSum+=row['dispatch_time']
    if row['call_type'] == "Electrical Hazard":
        ElectricalSum+=row['dispatch_time']
    if row['call_type'] == "Vehicle Fire":
        VehicleSum+=row['dispatch_time']
    if row['call_type'] == "Citizen Assist / Service Call":
        CitizenSum+=row['dispatch_time']
    if row['call_type'] == "Fuel Spill":
        FuelSum+=row['dispatch_time']
    if row['call_type'] == "Smoke Investigation (Outside)":
        SmokeSum+=row['dispatch_time']
    if row['call_type'] == "Elevator / Escalator Rescue":
        ElevatorSum+=row['dispatch_time']
    if row['call_type'] == "Odor (Strange / Unknown)":
        OdorSum+=row['dispatch_time']
    if row['call_type'] == "Water Rescue":
        WaterSum+=row['dispatch_time']
    if row['call_type'] == "Train / Rail Incident":
        TrainSum+=row['dispatch_time']
    if row['call_type'] == "HazMat":
        HazMatSum+=row['dispatch_time']

17
['Medical Incident' 'Alarms' 'Structure Fire' 'Traffic Collision' 'Other'
 'Gas Leak (Natural and LP Gases)' 'Outside Fire' 'Electrical Hazard'
 'Vehicle Fire' 'Citizen Assist / Service Call' 'Fuel Spill'
 'Smoke Investigation (Outside)' 'Elevator / Escalator Rescue'
 'Odor (Strange / Unknown)' 'Water Rescue' 'Train / Rail Incident'
 'HazMat']
0:00:00
0 days 00:21:12
0 days 00:42:24
0 days 01:03:36
0 days 01:24:48
0 days 01:46:00
0 days 02:07:12
0 days 02:28:24
0 days 02:49:36
0 days 03:10:48
0 days 03:32:00
0 days 03:53:12
0 days 04:14:24
0 days 04:35:36
-1 days +11:17:14
-1 days +11:32:45
-1 days +11:48:16
-1 days +12:03:47
-2 days +18:45:25
-2 days +19:00:56
-2 days +19:16:27
-2 days +01:58:05
-2 days +02:13:36
-3 days +08:55:14
-4 days +15:44:33
-5 days +22:26:11
-5 days +05:15:30
-6 days +11:57:08
-7 days +18:38:46
-7 days +18:54:17
-7 days +01:35:55
-8 days +08:17:33
-8 days +08:33:04
-9 days +15:14:42
-10 days +21:56:20
-10 days +04:37:58
-10 days +04:53:29
-10 days +05:12:01
-10 days +05:27:32
-11 days +12:09:10
-12 days +18:50:48
-12 days +01:32:26
-12 days +01:54:52
-12 days +02:17:18
-12 days +02:39:44
-12 days +03:02:10
-12 days +03:24:36
-12 days +03:47:02
-12 days +04:09:28
-12 days +04:31:54
-12 days +04:54:20
-12 days +05:16:46
-12 days +05:39:12
-12 days +06:01:38
-12 days +06:24:04

In [153]:
#Why do I have to multiply by -1 for the hazmat sum 
#elpased time between entry and dispatch doesnt necessarily correlate between number of occurrences for each type
#may explain why some sums are greater even when they have smaller ocurrences

In [10]:
coordinates_only_json = incident_coordinates_with_type.to_json("location_coordinates.csv")

NameError: name 'incident_coordinates_with_type' is not defined